/* Fonte base de títulos */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

/* Fonte base de textos */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');


/* Estilo do figma para fonte de TEXTOS 
position: absolute;
font-family: 'Pixelify Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
border: 3px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
*/

/* Estilo para a fonte do figma para TÍTULOS 

font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 96px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF; 
border: 4px solid #000000;
text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

    section{
        height: 100dvh;

    }
}
